# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

https://www.data-science-architect.de/merge-join-und-concat-in-pandas/

# Load files

## csound2DA

In [130]:
csound2DA = pd.read_csv("csound2DA.csv",sep="\s+", header=None)

In [131]:
# Fisrt five elements
csound2DA.head()

   0  1
0  0  *
1  1  *
2  2  *
3  3  *
4  4  *

In [132]:
# Number of elements
len(csound2DA)

73

In [133]:
# Number of unique values in first column
len(csound2DA[0].unique())

73

In [134]:
# Number of unique values in second column
len(csound2DA[1].unique())

39

In [135]:
# All unique values in second column
csound2DA[1].unique()

array(['*', 'b', 'c', 'd', 'a', '8', '9', '!l', '!m', 'e', 'n', 'o', 'p',
       'q', 'r', 'f', 'g', 'h', '0', 'i', 'j', 'k', 's', 't', 'u', 'v',
       'x', 'y', '_', '#', 'w', 'z', '1', '2', '3', '4', '5', '6', '7'],
      dtype=object)

## sndslotIDS

In [136]:
sndslotIDS = pd.read_csv("sndslotIDS.csv",sep="\s+", header=None)

In [137]:
# Fisrt five elements
sndslotIDS.head()

   0                1
0  0  INITIAL_MEETING
1  1           MORALE
2  2            HAPPY
3  3  UNHAPPY_ANNOYED
4  4  UNHAPPY_SERIOUS

In [138]:
# Number of elements
len(sndslotIDS)

93

In [139]:
# Number of unique values in second column
len(sndslotIDS[1].unique())

93

In [140]:
# Number of unique values in first column
len(sndslotIDS[0].unique())

89

In [141]:
# All unique values in second column
sndslotIDS[0].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 50, 51, 52,
       53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 65, 66, 67, 68, 69, 70, 71,
       72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88,
       89, 90, 91, 92])

# Filter file content by equal numbers and write it into a file

In [142]:
sndslotIDS[1][73]

'SPELL_DISRUPTED'

In [143]:
# Compare both lists with their first column and write the result into a list
L = []
U = []
flag = True
c = 0
for x in sndslotIDS[0]:
  for y in csound2DA[0]:
    if(x == y):
      L.append((sndslotIDS[1][c],csound2DA[1][x]))
      flag = False

  if(flag):
    U.append(sndslotIDS[1][c])
    print(x)
    print(sndslotIDS[1][c])
  c = c+1
  flag = True

73
EXISTANCE4
74
EXISTANCE5
75
BG2EE_SELECT_RARE1
76
BG2EE_SELECT_RARE2
77
BG2EE_SELECT_RARE3
78
BG2EE_SELECT_RARE4
79
BGEE_IWDEE_ACTION4
80
BGEE_IWDEE_ACTION5
81
BGEE_IWDEE_ACTION6
82
BGEE_IWDEE_ACTION7
83
EE_MORALE2
84
EE_LEADER2
85
EE_TIRED2
86
EE_BORED2
87
EE_HURT2
88
EE_SELECT_COMMON7
89
EE_DAMAGE2
90
EE_DAMAGE3
91
EE_DYING2
92
EE_REACT_TO_DIE_GENERAL2

In [144]:
# Write list into a dataframe
df = pd.DataFrame(data=L)

In [145]:
# First five rows
df.head()

                 0  1
0  INITIAL_MEETING  *
1           MORALE  *
2            HAPPY  *
3  UNHAPPY_ANNOYED  *
4  UNHAPPY_SERIOUS  *

In [146]:
# Number of elements in df
len(df)

73

In [147]:
# Write list into a dataframe
df_notUsed = pd.DataFrame(data=U)

In [148]:
df_notUsed.head()

                    0
0          EXISTANCE4
1          EXISTANCE5
2  BG2EE_SELECT_RARE1
3  BG2EE_SELECT_RARE2
4  BG2EE_SELECT_RARE3

In [149]:
len(df_notUsed)

20

In [150]:
# Write df into a file
#df.to_csv("SoundsetFilteredBGEE.csv",sep="\t", header=False)
#df_notUsed.to_csv("SoundsetNotUsedBGEE.csv",sep="\t", header=False)
#df.to_csv("SoundsetFilteredBGEEII.csv",sep="\t", header=False)
#df_notUsed.to_csv("SoundsetNotUsedBGEEII.csv",sep="\t", header=False)
df.to_csv("SoundsetFilteredIWDEE.csv",sep="\t", header=False)
df_notUsed.to_csv("SoundsetNotUsedIWDEE.csv",sep="\t", header=False)

# Join all three soundset prefix

In [151]:
# Load all files
BGEE = pd.read_csv("SoundsetFilteredBGEE.csv",sep="\s+", header=None)
BGEE2 = pd.read_csv("SoundsetFilteredBGEEII.csv",sep="\s+", header=None)
IWDEE = pd.read_csv("SoundsetFilteredIWDEE.csv",sep="\s+", header=None)

In [152]:
all_joins = BGEE.join(BGEE2,lsuffix='_BGEE', rsuffix='_BGEE2',how="outer")

In [153]:
all_joins

    0_BGEE             1_BGEE 2_BGEE  0_BGEE2            1_BGEE2 2_BGEE2
0        0    INITIAL_MEETING      *        0    INITIAL_MEETING       *
1        1             MORALE      *        1             MORALE       *
2        2              HAPPY      *        2              HAPPY       *
3        3    UNHAPPY_ANNOYED      *        3    UNHAPPY_ANNOYED       *
4        4    UNHAPPY_SERIOUS      *        4    UNHAPPY_SERIOUS       *
..     ...                ...    ...      ...                ...     ...
72      72  HIDDEN_IN_SHADOWS      5       72  HIDDEN_IN_SHADOWS       5
73      73         EXISTANCE2      6       73         EXISTANCE2       6
74      74    SPELL_DISRUPTED      6       74    SPELL_DISRUPTED       6
75      75         EXISTANCE3      7       75         EXISTANCE3       7
76      76         SET_A_TRAP      7       76         SET_A_TRAP       7

[77 rows x 6 columns]

In [154]:
all_joins = all_joins.join(IWDEE, how="outer")

In [155]:
all_joins

,0_BGEE,1_BGEE,2_BGEE,0_BGEE2,1_BGEE2,2_BGEE2,0,1,2
0,0,INITIAL_MEETING,*,0,INITIAL_MEETING,*,0.0,INITIAL_MEETING,*
1,1,MORALE,*,1,MORALE,*,1.0,MORALE,*
2,2,HAPPY,*,2,HAPPY,*,2.0,HAPPY,*
3,3,UNHAPPY_ANNOYED,*,3,UNHAPPY_ANNOYED,*,3.0,UNHAPPY_ANNOYED,*
4,4,UNHAPPY_SERIOUS,*,4,UNHAPPY_SERIOUS,*,4.0,UNHAPPY_SERIOUS,*
...,...,...,...,...,...,...,...,...,...
72,72,HIDDEN_IN_SHADOWS,5,72,HIDDEN_IN_SHADOWS,5,72.0,SET_A_TRAP,7
73,73,EXISTANCE2,6,73,EXISTANCE2,6,NaN,NaN,NaN
74,74,SPELL_DISRUPTED,6,74,SPELL_DISRUPTED,6,NaN,NaN,NaN
75,75,EXISTANCE3,7,75,EXISTANCE3,7,NaN,NaN,NaN
76,76,SET_A_TRAP,7,76,SET_A_TRAP,7,NaN,NaN,NaN

In [156]:
# Write df into a file
all_joins.to_csv("allSoundsets.csv",sep="\t", header=True)

## Join all three not used soundset elements

In [157]:
NuBGEE = pd.read_csv("SoundsetNotUsedBGEE.csv",sep="\s+", header=None)
NuBGEE2 = pd.read_csv("SoundsetNotUsedBGEEII.csv",sep="\s+", header=None)
NuIWDEE = pd.read_csv("SoundsetNotUsedIWDEE.csv",sep="\s+", header=None)

In [158]:
all_joins = NuBGEE.join(NuBGEE2,lsuffix='_BGEE', rsuffix='_BGEE2',how="outer")

In [159]:
all_joins = all_joins.join(NuIWDEE, how="outer")

In [160]:
all_joins

,0_BGEE,1_BGEE,0_BGEE2,1_BGEE2,0,1
0,0,EXISTANCE4,0,EXISTANCE4,0.0,EXISTANCE4
1,1,EXISTANCE5,1,EXISTANCE5,1.0,EXISTANCE5
2,2,BIO,2,BIO,2.0,BG2EE_SELECT_RARE1
3,3,BG2EE_SELECT_RARE1,3,BG2EE_SELECT_RARE1,3.0,BG2EE_SELECT_RARE2
4,4,BG2EE_SELECT_RARE2,4,BG2EE_SELECT_RARE2,4.0,BG2EE_SELECT_RARE3
5,5,BG2EE_SELECT_RARE3,5,BG2EE_SELECT_RARE3,5.0,BG2EE_SELECT_RARE4
6,6,BG2EE_SELECT_RARE4,6,BG2EE_SELECT_RARE4,6.0,BGEE_IWDEE_ACTION4
7,7,BGEE_ACTION4,7,BGEE_ACTION4,7.0,BGEE_IWDEE_ACTION5
8,8,BGEE_ACTION5,8,BGEE_ACTION5,8.0,BGEE_IWDEE_ACTION6
9,9,BGEE_ACTION6,9,BGEE_ACTION6,9.0,BGEE_IWDEE_ACTION7
10,10,BGEE_ACTION7,10,BGEE_ACTION7,10.0,EE_MORALE2
11,11,IWDEE_MORALE2,11,IWDEE_MORALE2,11.0,EE_LEADER2
12,12,IWDEE_LEADER2,12,IWDEE_LEADER2,12.0,EE_TIRED2
13,13,IWDEE_TIRED2,13,IWDEE_TIRED2,13.0,EE_BORED2
14,14,IWDEE_BORED2,14,IWDEE_BORED2,14.0,EE_HURT2
15,15,IWDEE_HURT2,15,IWDEE_HURT2,15.0,EE_SELECT_COMMON7
16,16,IWDEE_SELECT_COMMON7,16,IWDEE_SELECT_COMMON7,16.0,EE_DAMAGE2
17,17,IWDEE_DAMAGE2,17,IWDEE_DAMAGE2,17.0,EE_DAMAGE3
18,18,IWDEE_DAMAGE3,18,IWDEE_DAMAGE3,18.0,EE_DYING2
19,19,IWDEE_DYING2,19,IWDEE_DYING2,19.0,EE_REACT_TO_DIE_GENERAL2
20,20,IWDEE_REACT_TO_DIE_GENERAL2,20,IWDEE_REACT_TO_DIE_GENERAL2,NaN,NaN

In [161]:
# Write df into a file
all_joins.to_csv("allNotUsedSoundsets.csv",sep="\t", header=True)

# Compare

In [162]:
# Load all files
BGEE = pd.read_csv("SoundsetFilteredBGEE.csv",sep="\s+", header=None)
BGEE2 = pd.read_csv("SoundsetFilteredBGEEII.csv",sep="\s+", header=None)
IWDEE = pd.read_csv("SoundsetFilteredIWDEE.csv",sep="\s+", header=None)

In [163]:
# Check length of all dataframes
len(BGEE),len(BGEE2),len(IWDEE)

(77, 77, 73)

## BGEE vs BGEE2

In [164]:
BGEE.compare(BGEE2)

Empty DataFrame
Columns: []
Index: []

## BGEE vs IWDEE

In [165]:
IWDEE.head()

   0                1  2
0  0  INITIAL_MEETING  *
1  1           MORALE  *
2  2            HAPPY  *
3  3  UNHAPPY_ANNOYED  *
4  4  UNHAPPY_SERIOUS  *

In [166]:
# Compare both lists
L = []
M = []
c = 0
for x in IWDEE[1]:
  #print("X: ",x)
  for y in BGEE[1]:
    if(x == y):
      L.append(BGEE.iloc[BGEE.index[BGEE[1]==y].tolist()[0]])
      M.append(IWDEE.iloc[IWDEE.index[IWDEE[1]==x].tolist()[0]])

      #print("BGEE:", L[c])
      #print(BGEE.iloc[BGEE.index[BGEE[1]==x].tolist()[0]])
      #print("Y: ", y, " ",c)
      #c = c+1

In [167]:
len(L),len(M)

(71, 71)

In [168]:
BGEE_compared = pd.DataFrame(data=L)
IWDEE_compared =pd.DataFrame(data=M)

In [169]:
len(BGEE_compared),len(IWDEE_compared)

(71, 71)

In [170]:
BGEE_compared.head()

   0                1  2
0  0  INITIAL_MEETING  *
1  1           MORALE  *
2  2            HAPPY  *
3  3  UNHAPPY_ANNOYED  *
4  4  UNHAPPY_SERIOUS  *

In [171]:
IWDEE_compared.head()

   0                1  2
0  0  INITIAL_MEETING  *
1  1           MORALE  *
2  2            HAPPY  *
3  3  UNHAPPY_ANNOYED  *
4  4  UNHAPPY_SERIOUS  *

In [172]:
BGEEvsIWDEE = BGEE_compared.join(IWDEE_compared,lsuffix='_BGEE', rsuffix='_IWDEE', how="outer")

In [173]:
BGEEvsIWDEE

    0_BGEE             1_BGEE 2_BGEE  0_IWDEE          1_IWDEE 2_IWDEE
0      0.0    INITIAL_MEETING      *      0.0  INITIAL_MEETING       *
1      1.0             MORALE      *      1.0           MORALE       *
2      2.0              HAPPY      *      2.0            HAPPY       *
3      3.0    UNHAPPY_ANNOYED      *      3.0  UNHAPPY_ANNOYED       *
4      4.0    UNHAPPY_SERIOUS      *      4.0  UNHAPPY_SERIOUS       *
..     ...                ...    ...      ...              ...     ...
72    72.0  HIDDEN_IN_SHADOWS      5     72.0       SET_A_TRAP       7
73    73.0         EXISTANCE2      6      NaN              NaN     NaN
74    74.0    SPELL_DISRUPTED      6      NaN              NaN     NaN
75    75.0         EXISTANCE3      7      NaN              NaN     NaN
76    76.0         SET_A_TRAP      7      NaN              NaN     NaN

[75 rows x 6 columns]

In [174]:
BGEEvsIWDEE.index[BGEEvsIWDEE["1_IWDEE"]=="SELECT_RARE1"].tolist()

[44]

In [175]:
# Write df into a file
BGEEvsIWDEE.to_csv("BGEEcomparedIWDEE.csv",sep="\t", header=True)

In [176]:
len(BGEEvsIWDEE)

75

## BGEE2 vs IWDEE

In [177]:
IWDEE.head()

   0                1  2
0  0  INITIAL_MEETING  *
1  1           MORALE  *
2  2            HAPPY  *
3  3  UNHAPPY_ANNOYED  *
4  4  UNHAPPY_SERIOUS  *

In [178]:
# Compare both lists
L = []
M = []
c = 0
for x in IWDEE[1]:
  for y in BGEE2[1]:
    if(x == y):
      L.append(BGEE2.iloc[BGEE2.index[BGEE2[1]==x].tolist()[0]])
      M.append(IWDEE.iloc[IWDEE.index[IWDEE[1]==x].tolist()[0]])
      #print(IWDEE.iloc[c])
      #print(BGEE2.iloc[BGEE2.index[BGEE2[1]==x].tolist()[0]])
      #c = c+1

In [179]:
len(L),len(M)

(71, 71)

In [180]:
BGEE2_compared = pd.DataFrame(data=L)
IWDEE_compared =pd.DataFrame(data=M)

In [181]:
IWDEE_compared.head()

   0                1  2
0  0  INITIAL_MEETING  *
1  1           MORALE  *
2  2            HAPPY  *
3  3  UNHAPPY_ANNOYED  *
4  4  UNHAPPY_SERIOUS  *

In [182]:
BGEE2vsIWDEE = BGEE2_compared.join(IWDEE_compared,lsuffix='_BGEE2', rsuffix='_IWDEE', how="outer")

In [183]:
BGEE2vsIWDEE.index[BGEE2vsIWDEE["1_IWDEE"]=="SELECT_RARE1"].tolist()

[44]

In [184]:
# Write df into a file
BGEE2vsIWDEE.to_csv("BGEE2comparedIWDEE.csv",sep="\t", header=True)

In [185]:
len(BGEE2vsIWDEE)

75

## Join all compared three

In [186]:
all_compared_joins = BGEE_compared.join(BGEE2_compared,lsuffix='_BGEE', rsuffix='_BGEE2', how="outer")

In [187]:
all_compared_joins = all_compared_joins.join(IWDEE_compared, how="outer")

In [188]:
# Write df into a file
all_compared_joins.to_csv("allCompared.csv",sep="\t", header=True)